@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Poppins%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Playfair+Display%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700&family=Montserrat%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700&display=swap");

.plasmic_tokens {
  --token-YobNUMvNNI6Z: #d8edea;
  --plasmic-token-unnamed-style-token: var(--token-YobNUMvNNI6Z);
  --token-MC2-ik389MvU: #fbfbfb;
  --plasmic-token-white: var(--token-MC2-ik389MvU);
  --token-OlSzmNNlOdtW: #fe5737;
  --plasmic-token-orange: var(--token-OlSzmNNlOdtW);
  --token-4_o-bCgsbwFP: #222222;
  --plasmic-token-heading-h-2: var(--token-4_o-bCgsbwFP);
  --token-nAMq-Zr15SdR: 1680px;
  --plasmic-token-container-mixin: var(--token-nAMq-Zr15SdR);
  --token-s4o9-QI1ZrHB: 0px;
  --plasmic-token-pading-container: var(--token-s4o9-QI1ZrHB);
  --token-YYZhfx_pmbhv: #fcce16;
  --plasmic-token-yellow: var(--token-YYZhfx_pmbhv);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-6XhCJNFlMGiR_font-family: "Inter", sans-serif;
  --mixin-6XhCJNFlMGiR_font-size: 18px;
  --mixin-6XhCJNFlMGiR_font-weight: 300;
  --mixin-6XhCJNFlMGiR_font-style: normal;
  --mixin-6XhCJNFlMGiR_color: #222222;
  --mixin-6XhCJNFlMGiR_text-align: left;
  --mixin-6XhCJNFlMGiR_text-transform: none;
  --mixin-6XhCJNFlMGiR_line-height: 1.65;
  --mixin-6XhCJNFlMGiR_letter-spacing: normal;
  --mixin-6XhCJNFlMGiR_white-space: pre-wrap;
  --mixin-6XhCJNFlMGiR_user-select: text;
  --mixin-6XhCJNFlMGiR_text-decoration-line: none;
  --mixin-6XhCJNFlMGiR_text-overflow: clip;
  --mixin-u0SUQAaS8grc_color: var(--token-MC2-ik389MvU);
  --mixin-u0SUQAaS8grc_font-weight: 700;
  --mixin-u0SUQAaS8grc_font-size: 72px;
  --mixin-u0SUQAaS8grc_line-height: 1.2;
  --mixin-u0SUQAaS8grc_margin-top: 0px;
  --mixin-u0SUQAaS8grc_margin-right: 0px;
  --mixin-u0SUQAaS8grc_margin-bottom: 0px;
  --mixin-u0SUQAaS8grc_margin-left: 0px;
  --mixin-u0SUQAaS8grc_font-family: "Inter", sans-serif;
  --mixin-u0SUQAaS8grc_text-transform: uppercase;
  --mixin-u0SUQAaS8grc_box-shadow: none;
  --mixin-u0SUQAaS8grc_backdrop-filter: none;
  --mixin-u0SUQAaS8grc_white-space: pre-wrap;
  --mixin-G9PzpbsZCns2_color: var(--token-4_o-bCgsbwFP);
  --mixin-G9PzpbsZCns2_font-weight: 700;
  --mixin-G9PzpbsZCns2_font-size: 38px;
  --mixin-G9PzpbsZCns2_line-height: 1.2;
  --mixin-G9PzpbsZCns2_font-family: "Inter", sans-serif;
  --mixin-G9PzpbsZCns2_margin-top: 0px;
  --mixin-G9PzpbsZCns2_margin-right: 0px;
  --mixin-G9PzpbsZCns2_margin-bottom: 0px;
  --mixin-G9PzpbsZCns2_margin-left: 0px;
  --mixin-G9PzpbsZCns2_text-transform: uppercase;
  --mixin-G9PzpbsZCns2_letter-spacing: -0.005em;
  --mixin-G9PzpbsZCns2_white-space: pre-wrap;
  --mixin---6TsbKqB_qo_color: var(--token-OlSzmNNlOdtW);
  --mixin---6TsbKqB_qo_font-family: "Poppins", sans-serif;
  --mixin---6TsbKqB_qo_font-weight: 300;
  --mixin---6TsbKqB_qo_font-size: 17px;
  --mixin---6TsbKqB_qo_line-height: 1.65;
  --mixin---6TsbKqB_qo_white-space: pre-wrap;
  --mixin-c5bI2gPJ6b1b_color: #000000;
  --mixin-c5bI2gPJ6b1b_font-weight: 500;
  --mixin-c5bI2gPJ6b1b_font-size: 24px;
  --mixin-c5bI2gPJ6b1b_line-height: 1.2;
  --mixin-c5bI2gPJ6b1b_font-family: "Inter", sans-serif;
  --mixin-c5bI2gPJ6b1b_margin-top: 0px;
  --mixin-c5bI2gPJ6b1b_margin-right: 0px;
  --mixin-c5bI2gPJ6b1b_margin-bottom: 0px;
  --mixin-c5bI2gPJ6b1b_margin-left: 0px;
  --mixin-c5bI2gPJ6b1b_text-transform: uppercase;
  --mixin-c5bI2gPJ6b1b_white-space: pre-wrap;
  --mixin-hteohRGhZnw3_font-family: "Inter", sans-serif;
  --mixin-hteohRGhZnw3_color: #000000;
  --mixin-hteohRGhZnw3_font-size: 24px;
  --mixin-hteohRGhZnw3_font-weight: 600;
  --mixin-hteohRGhZnw3_letter-spacing: -0.5px;
  --mixin-hteohRGhZnw3_line-height: 1.3;
  --mixin-hteohRGhZnw3_white-space: pre-wrap;
  --mixin-VUI3eUD0HF9c_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-VUI3eUD0HF9c_border-bottom-color: #dddddd;
  --mixin-VUI3eUD0HF9c_border-bottom-style: solid;
  --mixin-VUI3eUD0HF9c_border-bottom-width: 1px;
  --mixin-VUI3eUD0HF9c_border-left-color: #dddddd;
  --mixin-VUI3eUD0HF9c_border-left-style: solid;
  --mixin-VUI3eUD0HF9c_border-left-width: 1px;
  --mixin-VUI3eUD0HF9c_border-right-color: #dddddd;
  --mixin-VUI3eUD0HF9c_border-right-style: solid;
  --mixin-VUI3eUD0HF9c_border-right-width: 1px;
  --mixin-VUI3eUD0HF9c_border-top-color: #dddddd;
  --mixin-VUI3eUD0HF9c_border-top-style: solid;
  --mixin-VUI3eUD0HF9c_border-top-width: 1px;
  --mixin-VUI3eUD0HF9c_border-bottom-left-radius: 3px;
  --mixin-VUI3eUD0HF9c_border-bottom-right-radius: 3px;
  --mixin-VUI3eUD0HF9c_border-top-left-radius: 3px;
  --mixin-VUI3eUD0HF9c_border-top-right-radius: 3px;
  --mixin-VUI3eUD0HF9c_font-family: "Inconsolata";
  --mixin-VUI3eUD0HF9c_padding-bottom: 1px;
  --mixin-VUI3eUD0HF9c_padding-left: 4px;
  --mixin-VUI3eUD0HF9c_padding-right: 4px;
  --mixin-VUI3eUD0HF9c_padding-top: 1px;
  --mixin-VUI3eUD0HF9c_white-space: pre-wrap;
  --mixin-DMSGtbeYTKDi_margin-top: 0px;
  --mixin-DMSGtbeYTKDi_margin-right: 0px;
  --mixin-DMSGtbeYTKDi_margin-bottom: 10px;
  --mixin-DMSGtbeYTKDi_margin-left: 0px;
  --mixin-DMSGtbeYTKDi_color: #ca7716;
  --mixin-DMSGtbeYTKDi_font-family: "Playfair Display", serif;
  --mixin-DMSGtbeYTKDi_font-size: 18px;
  --mixin-DMSGtbeYTKDi_line-height: 1.5;
  --mixin-DMSGtbeYTKDi_white-space: pre-wrap;
  --mixin-n5OKjZkMZMNB_font-family: "Inter", sans-serif;
  --mixin-n5OKjZkMZMNB_color: #000000;
  --mixin-n5OKjZkMZMNB_font-size: 16px;
  --mixin-n5OKjZkMZMNB_font-weight: 600;
  --mixin-n5OKjZkMZMNB_line-height: 1.5;
  --mixin-n5OKjZkMZMNB_white-space: pre-wrap;
  --mixin-4du4JM9cNFTX_border-left-color: #dddddd;
  --mixin-4du4JM9cNFTX_border-left-style: solid;
  --mixin-4du4JM9cNFTX_border-left-width: 3px;
  --mixin-4du4JM9cNFTX_color: #888888;
  --mixin-4du4JM9cNFTX_padding-left: 10px;
  --mixin-4du4JM9cNFTX_white-space: pre-wrap;
  --mixin--gulOAtgNkgx_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin--gulOAtgNkgx_border-bottom-color: #dddddd;
  --mixin--gulOAtgNkgx_border-bottom-style: solid;
  --mixin--gulOAtgNkgx_border-bottom-width: 1px;
  --mixin--gulOAtgNkgx_border-left-color: #dddddd;
  --mixin--gulOAtgNkgx_border-left-style: solid;
  --mixin--gulOAtgNkgx_border-left-width: 1px;
  --mixin--gulOAtgNkgx_border-right-color: #dddddd;
  --mixin--gulOAtgNkgx_border-right-style: solid;
  --mixin--gulOAtgNkgx_border-right-width: 1px;
  --mixin--gulOAtgNkgx_border-top-color: #dddddd;
  --mixin--gulOAtgNkgx_border-top-style: solid;
  --mixin--gulOAtgNkgx_border-top-width: 1px;
  --mixin--gulOAtgNkgx_border-bottom-left-radius: 3px;
  --mixin--gulOAtgNkgx_border-bottom-right-radius: 3px;
  --mixin--gulOAtgNkgx_border-top-left-radius: 3px;
  --mixin--gulOAtgNkgx_border-top-right-radius: 3px;
  --mixin--gulOAtgNkgx_font-family: "Inconsolata";
  --mixin--gulOAtgNkgx_padding-bottom: 3px;
  --mixin--gulOAtgNkgx_padding-left: 6px;
  --mixin--gulOAtgNkgx_padding-right: 6px;
  --mixin--gulOAtgNkgx_padding-top: 3px;
  --mixin--gulOAtgNkgx_white-space: pre-wrap;
  --mixin-2X35_xkcL4Fv_display: flex;
  --mixin-2X35_xkcL4Fv_flex-direction: column;
  --mixin-2X35_xkcL4Fv_align-items: stretch;
  --mixin-2X35_xkcL4Fv_justify-content: flex-start;
  --mixin-2X35_xkcL4Fv_list-style-position: outside;
  --mixin-2X35_xkcL4Fv_padding-left: 40px;
  --mixin-2X35_xkcL4Fv_position: relative;
  --mixin-2X35_xkcL4Fv_list-style-type: decimal;
  --mixin-2X35_xkcL4Fv_white-space: pre-wrap;
  --mixin-E2DWIYh-7uAo_display: flex;
  --mixin-E2DWIYh-7uAo_flex-direction: column;
  --mixin-E2DWIYh-7uAo_align-items: stretch;
  --mixin-E2DWIYh-7uAo_justify-content: flex-start;
  --mixin-E2DWIYh-7uAo_list-style-position: outside;
  --mixin-E2DWIYh-7uAo_padding-left: 40px;
  --mixin-E2DWIYh-7uAo_position: relative;
  --mixin-E2DWIYh-7uAo_list-style-type: disc;
  --mixin-E2DWIYh-7uAo_white-space: pre-wrap;
}

@media (min-width: 0px) and (max-width: 767px) {
  .plasmic_default_styles {
    --mixin-u0SUQAaS8grc_font-size: 38px;
    --mixin-u0SUQAaS8grc_white-space: pre-wrap;
    --mixin-G9PzpbsZCns2_font-size: 28px;
    --mixin-G9PzpbsZCns2_white-space: pre-wrap;
  }
}

.plasmic_mixins {
  --mixin-AXZ6KJYeebbO_white-space: pre-wrap;
  --plasmic-mixin-footer-menu-text_white-space: var(
    --mixin-AXZ6KJYeebbO_white-space
  );
  --mixin-UrPtFSKf-F9b_white-space: pre-wrap;
  --plasmic-mixin-padding-section_white-space: var(
    --mixin-UrPtFSKf-F9b_white-space
  );
  --mixin-6Qehr-8IIgCb_white-space: pre-wrap;
  --plasmic-mixin-section-title_white-space: var(
    --mixin-6Qehr-8IIgCb_white-space
  );
  --mixin-TYjT5MVRquoS_white-space: pre-wrap;
  --plasmic-mixin-white-title_white-space: var(
    --mixin-TYjT5MVRquoS_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-6XhCJNFlMGiR_font-family);
  font-size: var(--mixin-6XhCJNFlMGiR_font-size);
  font-weight: var(--mixin-6XhCJNFlMGiR_font-weight);
  font-style: var(--mixin-6XhCJNFlMGiR_font-style);
  color: var(--mixin-6XhCJNFlMGiR_color);
  text-align: var(--mixin-6XhCJNFlMGiR_text-align);
  text-transform: var(--mixin-6XhCJNFlMGiR_text-transform);
  line-height: var(--mixin-6XhCJNFlMGiR_line-height);
  letter-spacing: var(--mixin-6XhCJNFlMGiR_letter-spacing);
  white-space: var(--mixin-6XhCJNFlMGiR_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-u0SUQAaS8grc_color);
  font-weight: var(--mixin-u0SUQAaS8grc_font-weight);
  font-size: var(--mixin-u0SUQAaS8grc_font-size);
  line-height: var(--mixin-u0SUQAaS8grc_line-height);
  font-family: var(--mixin-u0SUQAaS8grc_font-family);
  text-transform: var(--mixin-u0SUQAaS8grc_text-transform);
  box-shadow: var(--mixin-u0SUQAaS8grc_box-shadow);
  backdrop-filter: var(--mixin-u0SUQAaS8grc_backdrop-filter);
  margin: var(--mixin-u0SUQAaS8grc_margin-top)
    var(--mixin-u0SUQAaS8grc_margin-right)
    var(--mixin-u0SUQAaS8grc_margin-bottom)
    var(--mixin-u0SUQAaS8grc_margin-left);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-G9PzpbsZCns2_color);
  font-weight: var(--mixin-G9PzpbsZCns2_font-weight);
  font-size: var(--mixin-G9PzpbsZCns2_font-size);
  line-height: var(--mixin-G9PzpbsZCns2_line-height);
  font-family: var(--mixin-G9PzpbsZCns2_font-family);
  text-transform: var(--mixin-G9PzpbsZCns2_text-transform);
  letter-spacing: var(--mixin-G9PzpbsZCns2_letter-spacing);
  margin: var(--mixin-G9PzpbsZCns2_margin-top)
    var(--mixin-G9PzpbsZCns2_margin-right)
    var(--mixin-G9PzpbsZCns2_margin-bottom)
    var(--mixin-G9PzpbsZCns2_margin-left);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin---6TsbKqB_qo_color);
  font-family: var(--mixin---6TsbKqB_qo_font-family);
  font-weight: var(--mixin---6TsbKqB_qo_font-weight);
  font-size: var(--mixin---6TsbKqB_qo_font-size);
  line-height: var(--mixin---6TsbKqB_qo_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-c5bI2gPJ6b1b_color);
  font-weight: var(--mixin-c5bI2gPJ6b1b_font-weight);
  font-size: var(--mixin-c5bI2gPJ6b1b_font-size);
  line-height: var(--mixin-c5bI2gPJ6b1b_line-height);
  font-family: var(--mixin-c5bI2gPJ6b1b_font-family);
  text-transform: var(--mixin-c5bI2gPJ6b1b_text-transform);
  margin: var(--mixin-c5bI2gPJ6b1b_margin-top)
    var(--mixin-c5bI2gPJ6b1b_margin-right)
    var(--mixin-c5bI2gPJ6b1b_margin-bottom)
    var(--mixin-c5bI2gPJ6b1b_margin-left);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-hteohRGhZnw3_font-family);
  color: var(--mixin-hteohRGhZnw3_color);
  font-size: var(--mixin-hteohRGhZnw3_font-size);
  font-weight: var(--mixin-hteohRGhZnw3_font-weight);
  letter-spacing: var(--mixin-hteohRGhZnw3_letter-spacing);
  line-height: var(--mixin-hteohRGhZnw3_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-VUI3eUD0HF9c_font-family);
  border-radius: var(--mixin-VUI3eUD0HF9c_border-top-left-radius)
    var(--mixin-VUI3eUD0HF9c_border-top-right-radius)
    var(--mixin-VUI3eUD0HF9c_border-bottom-right-radius)
    var(--mixin-VUI3eUD0HF9c_border-bottom-left-radius);
  padding: var(--mixin-VUI3eUD0HF9c_padding-top)
    var(--mixin-VUI3eUD0HF9c_padding-right)
    var(--mixin-VUI3eUD0HF9c_padding-bottom)
    var(--mixin-VUI3eUD0HF9c_padding-left);
  border-top: var(--mixin-VUI3eUD0HF9c_border-top-width)
    var(--mixin-VUI3eUD0HF9c_border-top-style)
    var(--mixin-VUI3eUD0HF9c_border-top-color);
  border-right: var(--mixin-VUI3eUD0HF9c_border-right-width)
    var(--mixin-VUI3eUD0HF9c_border-right-style)
    var(--mixin-VUI3eUD0HF9c_border-right-color);
  border-bottom: var(--mixin-VUI3eUD0HF9c_border-bottom-width)
    var(--mixin-VUI3eUD0HF9c_border-bottom-style)
    var(--mixin-VUI3eUD0HF9c_border-bottom-color);
  border-left: var(--mixin-VUI3eUD0HF9c_border-left-width)
    var(--mixin-VUI3eUD0HF9c_border-left-style)
    var(--mixin-VUI3eUD0HF9c_border-left-color);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-DMSGtbeYTKDi_color);
  font-family: var(--mixin-DMSGtbeYTKDi_font-family);
  font-size: var(--mixin-DMSGtbeYTKDi_font-size);
  line-height: var(--mixin-DMSGtbeYTKDi_line-height);
  margin: var(--mixin-DMSGtbeYTKDi_margin-top)
    var(--mixin-DMSGtbeYTKDi_margin-right)
    var(--mixin-DMSGtbeYTKDi_margin-bottom)
    var(--mixin-DMSGtbeYTKDi_margin-left);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-n5OKjZkMZMNB_font-family);
  color: var(--mixin-n5OKjZkMZMNB_color);
  font-size: var(--mixin-n5OKjZkMZMNB_font-size);
  font-weight: var(--mixin-n5OKjZkMZMNB_font-weight);
  line-height: var(--mixin-n5OKjZkMZMNB_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-4du4JM9cNFTX_color);
  padding-left: var(--mixin-4du4JM9cNFTX_padding-left);
  border-left: var(--mixin-4du4JM9cNFTX_border-left-width)
    var(--mixin-4du4JM9cNFTX_border-left-style)
    var(--mixin-4du4JM9cNFTX_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin--gulOAtgNkgx_font-family);
  border-radius: var(--mixin--gulOAtgNkgx_border-top-left-radius)
    var(--mixin--gulOAtgNkgx_border-top-right-radius)
    var(--mixin--gulOAtgNkgx_border-bottom-right-radius)
    var(--mixin--gulOAtgNkgx_border-bottom-left-radius);
  padding: var(--mixin--gulOAtgNkgx_padding-top)
    var(--mixin--gulOAtgNkgx_padding-right)
    var(--mixin--gulOAtgNkgx_padding-bottom)
    var(--mixin--gulOAtgNkgx_padding-left);
  border-top: var(--mixin--gulOAtgNkgx_border-top-width)
    var(--mixin--gulOAtgNkgx_border-top-style)
    var(--mixin--gulOAtgNkgx_border-top-color);
  border-right: var(--mixin--gulOAtgNkgx_border-right-width)
    var(--mixin--gulOAtgNkgx_border-right-style)
    var(--mixin--gulOAtgNkgx_border-right-color);
  border-bottom: var(--mixin--gulOAtgNkgx_border-bottom-width)
    var(--mixin--gulOAtgNkgx_border-bottom-style)
    var(--mixin--gulOAtgNkgx_border-bottom-color);
  border-left: var(--mixin--gulOAtgNkgx_border-left-width)
    var(--mixin--gulOAtgNkgx_border-left-style)
    var(--mixin--gulOAtgNkgx_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-2X35_xkcL4Fv_display);
  flex-direction: var(--mixin-2X35_xkcL4Fv_flex-direction);
  align-items: var(--mixin-2X35_xkcL4Fv_align-items);
  justify-content: var(--mixin-2X35_xkcL4Fv_justify-content);
  list-style-position: var(--mixin-2X35_xkcL4Fv_list-style-position);
  padding-left: var(--mixin-2X35_xkcL4Fv_padding-left);
  position: var(--mixin-2X35_xkcL4Fv_position);
  list-style-type: var(--mixin-2X35_xkcL4Fv_list-style-type);
  flex-column-gap: var(--mixin-2X35_xkcL4Fv_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-E2DWIYh-7uAo_display);
  flex-direction: var(--mixin-E2DWIYh-7uAo_flex-direction);
  align-items: var(--mixin-E2DWIYh-7uAo_align-items);
  justify-content: var(--mixin-E2DWIYh-7uAo_justify-content);
  list-style-position: var(--mixin-E2DWIYh-7uAo_list-style-position);
  padding-left: var(--mixin-E2DWIYh-7uAo_padding-left);
  position: var(--mixin-E2DWIYh-7uAo_position);
  list-style-type: var(--mixin-E2DWIYh-7uAo_list-style-type);
  flex-column-gap: var(--mixin-E2DWIYh-7uAo_flex-column-gap);
}
