.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  background: #000000;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    padding: 30px 15px;
  }
}
.freeBox__hQxof {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__hQxof {
    padding: 27px 30px 34px 27px;
  }
}
.freeBox__fUs1H {
  display: flex;
  position: relative;
  max-width: var(--token-nAMq-Zr15SdR);
  flex-direction: row;
  width: 100%;
  min-width: 0;
  padding: var(--token-s4o9-QI1ZrHB);
}
.freeBox__fUs1H > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__fUs1H > :global(.__wab_flex-container) > *,
.freeBox__fUs1H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fUs1H > :global(.__wab_flex-container) > picture > img,
.freeBox__fUs1H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__fUs1H {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__fUs1H > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__fUs1H > :global(.__wab_flex-container) > *,
  .freeBox__fUs1H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fUs1H > :global(.__wab_flex-container) > picture > img,
  .freeBox__fUs1H
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__m0Je2 {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  padding-left: 0px;
  min-width: 0;
}
.freeBox__m0Je2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__m0Je2 > :global(.__wab_flex-container) > *,
.freeBox__m0Je2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__m0Je2 > :global(.__wab_flex-container) > picture > img,
.freeBox__m0Je2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__neabP {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__neabP > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox__neabP > :global(.__wab_flex-container) > *,
.freeBox__neabP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__neabP > :global(.__wab_flex-container) > picture > img,
.freeBox__neabP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.h3__wTAd3 {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  color: var(--token-MC2-ik389MvU);
  margin-top: calc(0px + 15px) !important;
}
.text__qCnlr {
  color: var(--token-MC2-ik389MvU);
}
.freeBox__rlQWp {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__rlQWp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__rlQWp > :global(.__wab_flex-container) > *,
.freeBox__rlQWp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rlQWp > :global(.__wab_flex-container) > picture > img,
.freeBox__rlQWp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.link__czBu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__vYrNw {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-YYZhfx_pmbhv);
  flex-shrink: 0;
}
.link__neKf7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__xSljA {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-YYZhfx_pmbhv);
  flex-shrink: 0;
}
.link___6EmxE {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__mBqdK {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-YYZhfx_pmbhv);
  flex-shrink: 0;
}
.freeBox__mzaAu {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__mzaAu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__mzaAu > :global(.__wab_flex-container) > *,
.freeBox__mzaAu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mzaAu > :global(.__wab_flex-container) > picture > img,
.freeBox__mzaAu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h3__uaU0A {
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-MC2-ik389MvU);
  padding-bottom: 0px;
  margin-top: calc(0px + 16px) !important;
}
.link__y27St {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__y27St > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__y27St > :global(.__wab_flex-container) > *,
.link__y27St > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__y27St > :global(.__wab_flex-container) > picture > img,
.link__y27St
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__zjzP2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__sj91N {
  color: var(--token-MC2-ik389MvU);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 26px;
  height: auto;
}
.svg__h4Hde {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__upTgr {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__upTgr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__upTgr > :global(.__wab_flex-container) > *,
.link__upTgr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__upTgr > :global(.__wab_flex-container) > picture > img,
.link__upTgr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__vWdi2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__osVI {
  color: var(--token-MC2-ik389MvU);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 26px;
  height: auto;
}
.svg__j1KL {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__e9MMq {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__e9MMq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__e9MMq > :global(.__wab_flex-container) > *,
.freeBox__e9MMq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__e9MMq > :global(.__wab_flex-container) > picture > img,
.freeBox__e9MMq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h3__ikZd8 {
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-MC2-ik389MvU);
  height: auto;
  margin-top: calc(0px + 16px) !important;
}
.link__hbKit {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__hbKit > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__hbKit > :global(.__wab_flex-container) > *,
.link__hbKit > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__hbKit > :global(.__wab_flex-container) > picture > img,
.link__hbKit
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__ofhw5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__amXaL {
  color: var(--token-MC2-ik389MvU);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 26px;
  height: auto;
}
.svg__ibr9D {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__oRu0U {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__oRu0U > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__oRu0U > :global(.__wab_flex-container) > *,
.link__oRu0U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__oRu0U > :global(.__wab_flex-container) > picture > img,
.link__oRu0U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__nSsyo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__qwUsl {
  color: var(--token-MC2-ik389MvU);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 26px;
}
.svg__msy2P {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
